@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.spin {
    animation: spin 20s linear infinite;
}
.border-animate {
    transition: border-color 0.25s;
}
:root {
background-color: #242424;
}